@page
@model EAfspraak.Web.Pages.Work1Model
@{
}

<div class="card-header" style="direction:rtl;">

    <span style="display:block;position:absolute;"></span>
    <div style="direction:rtl;">
        <span> Welcome @Model.UserId</span>

        <a asp-page="index" asp-page-handler="logout">Logout</a>
    </div>
</div>
<form method="get" asp-page="Work1" asp-page-handler="Zoek">
    <input type="hidden" name="handler" value="Zoek" />
    <div class="input-group input-group-lg" style="width:650px">
        <span class="input-group-text" style="width:300px">
            Kies een behaneling
        </span>
        <select id="behandelingId" asp-for="BehandelingName" onchange="this.form.submit();" class="list-group-item" style="width:350px">
            <option value="">  </option>
            @foreach (var category in Model.Categories)
            {
                if (category.Behandelingen.Where(x => x.IsVerwijsbriefNodig == false).Any())
                {
                    <optgroup label="@category.Name" >
                        @foreach (var item in category.Behandelingen)
                        {
                            if (!item.IsVerwijsbriefNodig)
                            {
                                <option value="@category.Name+@item.Name"> @item.Name </option>
                            }
                    }
                </optgroup>
                }
            }
        </select>

    </div>
    <div class="input-group input-group-lg">
    </div>
</form>
<form method="post" asp-page="Work1"  >
    <input type="hidden" asp-for="BehandelingName" />
   
     @if (Model.Klieniken != null)
     {

        if (Model.Klieniken.Count > 0)
        {
           
           

        <div class="input-group input-group-lg" style="width:650px">
            <span class="input-group-text" style="width:300px">
                Beschikbare lacaties:
            </span>
            <select asp-for="Stad" class="list-group-item" style="width:350px">
                <option value="">  </option>
                @foreach (var item in Model.Steden)
                {
                    if (item != "")
                    {
                        <option value="@item"> @item </option>
                    }
                }


            </select>

        </div>

        <div class="input-group input-group-lg" style="width:650px">
            <span class="input-group-text" style="width:300px">
                Beschikbare klinieken:
            </span>
                <select asp-for="Kliniek" class="list-group-item" style="width:350px">
                <option value="">  </option>
                @foreach (var item in Model.Klieniken)
                {
                    if (item.Name != "")
                    {
                        <option value="@item.Name"> @item.Detail </option>
                    }
                }


            </select>

        </div>

        <div class="input-group input-group-lg" style="width:650px">
            <span class="input-group-text" style="width:300px">
                Beschikbare datums:
            </span>
            <select asp-for="Datum" class="list-group-item" style="width:350px">
                <option value="">  </option>
                @foreach (var item in Model.Datums)
                {
                    if (item != "")
                    {
                        <option value="@item"> @item </option>
                    }
                }


            </select>

        </div>

        <div class="input-group input-group-lg" style="width:650px">
            <span class="input-group-text" style="width:300px">
                gewenste moment:
            </span>
            <select asp-for="Momment" class="list-group-item" style="width:350px">
                <option value="">  </option>
                <optgroup label="Maandag">
                    <option value="Maandagochtend">Ochtend</option>
                    <option value="MaandagMiddag">Midag</option>
                </optgroup>
                <optgroup label="Dinsdag">
                    <option value="DinsdagOchtend">Ochtend</option>
                    <option value="DinsdagMiddag">Midag</option>
                </optgroup>
                <optgroup label="Woensdag">
                    <option value="WoensdagOchtend">Ochtend</option>
                    <option value="WoensdagMiddag">Midag</option>
                </optgroup>
                <optgroup label="Donderdag">
                    <option value="DonderdagOchtend">Ochtend</option>
                    <option value="DonderdagMiddag">Midag</option>
                </optgroup>
                <optgroup label="Vrijdag">
                    <option value="VrijdagOchtend">Ochtend</option>
                    <option value="VrijdagMiddag">Midag</option>
                </optgroup>




            </select>

        </div>

        <div class="input-group input-group-lg">
                <input asp-page-handler="ZoekMogelijkeMomenten" type="submit" class="btn-primary" style="width:650px" value="Zoek de beste afspraak momenten" />

        </div>
        }
    }

@if (Model.KliniekAgendas!= null){
    if (Model.KliniekAgendas.Count > 0)
    {
        <div class="table-responsive data-table-body" style="width:80%">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Kliniek details</th>
                        <th>Specialist</th>
                        <th>datum en tijd</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (KliniekAgendaViewModel item in Model.KliniekAgendas)
                    {
                        <tr>
                            <td>@item.KliniekName  in  @item.KliniekDescription</td>
                                <td>@item.SpecialistName</td>
                            <td>@item.Date   @item.AfspraakTime </td>
                            <td>

                                    <input type="submit" asp-page="Work1" asp-page-handler="AfspraakBevestigen"
                               asp-route-kliniekName="@item.KliniekName" asp-route-specialistBSN="@item.SpecialistBSN"
                               asp-route-date="@item.Date" asp-route-time="@item.AfspraakTime"
                                    
                                    class="btn btn-link" value="Afspraak Maken" />
                                    
                                

                            </td>

                        </tr>
                    }
                   
                </tbody>
            </table>
        </div>
    }
}

</form>