@page
@model EAfspraak.Web.Pages.Work1Model
@{
}

<div class="card-header" style="direction:rtl;">

    <span style="display:block;position:absolute;"></span>
    <div style="direction:rtl;">
        <span> Welcome @Model.UserId</span>

        <a asp-page="index" asp-page-handler="logout">Logout</a>
        
    </div>
</div>
<a class="link-primary" asp-page="Index">Doshbord</a>

<form method="post" asp-page="Work1" asp-page-handler="ZoekMogelijkeMomenten">
    <input type="hidden" name="handler" value="Zoek" />
    <div class="input-group input-group-lg" style="width:650px">
        <span class="input-group-text" style="width:300px">
            Kies een behaneling
        </span>
        <select id="behandelingId" asp-for="BehandelingName"  class="list-group-item" style="width:350px">
            <option value="">  </option>
            @foreach (var category in Model.Categories)
            {
              
                    <optgroup label="@category.Name" >
                        @foreach (var item in category.Behandelingen)
                        {
                            
                                <option value="@category.Name+@item.Name"> @item.Name </option>
                              }
                </optgroup>
                
            }
        </select>

    </div>

    <div class="input-group input-group-lg" style="width:650px">
        <span class="input-group-text" style="width:300px">
            Datums:
        </span>
        <input  asp-for="Datum" class="form-control rtl-direction"
               type="text" name="Datum" />

    </div>


    <div class="input-group input-group-lg" style="width:650px">
        <span class="input-group-text" style="width:300px">
            gewenste moment:
        </span>
        <select asp-for="Momment" class="list-group-item" style="width:350px">
            <option value="">  </option>
            <option label="Maandag" value="Monday">
              
            </option>
            <option label="Dinsdag" value="Tuesday">
               
            </option>
            <option label="Woensdag" value="Wednesday">
                
            </option>
            <option label="Donderdag" value="Thursday">
               
            </option>
            <option label="Vrijdag" value="Friday">
               
            </option>
            <option label="Zaterdag" value="Saturday">

            </option>
            <option label="Zondag" value="Sunday">

            </option>




        </select>

    </div>



    <div class="input-group input-group-lg">
        <input type="submit" class="btn-primary" style="width:650px" value="Zoek de beste afspraak momenten" />

    </div>
</form>
<form method="post" asp-page="Work1" >
    <input type="hidden" asp-for="BehandelingName" />
   
     @if (Model.Klieniken != null)
     {

        if (Model.Klieniken.Count > 0)
        {
           
           

        <div class="input-group input-group-lg" style="width:650px">
            <span class="input-group-text" style="width:300px">
                Filter op beschikbare lacaties:
            </span>
                <select asp-for="Stad"   class="list-group-item" style="width:350px">
                <option value="">  </option>
                @foreach (var item in Model.Steden)
                {
                    if (item != "")
                    {
                        <option value="@item"> @item </option>
                    }
                }


            </select>

        </div>

        <div class="input-group input-group-lg" style="width:650px">
            <span class="input-group-text" style="width:300px">
                Filter op eschikbare klinieken:
            </span>
                <select asp-for="Kliniek" class="list-group-item" style="width:350px">
                <option value="">  </option>
                @foreach (var item in Model.Klieniken)
                {
                    if (item.Name != "")
                    {
                        <option value="@item.Name"> @item.Detail </option>
                    }
                }


            </select>

        </div>

         <div class="input-group input-group-lg" style="width:650px">
            <span class="input-group-text" style="width:300px">
                Filter op eschikbare datums:
            </span>
                <select asp-for="BeschikbareDatum"  class="list-group-item" style="width:350px">
                <option value="">  </option>
                @foreach (var item in Model.Datums)
                {
                    if (item != "")
                    {
                        <option value="@item"> @item </option>
                    }
                }


            </select>

        </div>

            <div class="input-group input-group-lg">
                <input  asp-page-handler="ZoekMogelijkeMomenten" type="submit" class="btn-primary" style="width:650px" value="Zoek de beste afspraak momenten" />

            </div>

        }
    }

@if (Model.KliniekAgendas!= null){
    if (Model.KliniekAgendas.Count > 0)
    {
        <div class="table-responsive data-table-body" style="width:80%">
            <table class="table table-bordered table-striped table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Kliniek details</th>
                        <th>datum en tijd</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (KliniekTijdenViewModel item in Model.KliniekAgendas)
                    {
                        <tr>
                            <td>@item.KliniekName  in  @item.KliniekDescription</td>
                              
                            <td>@item.Date   @item.AfspraakTime </td>
                            <td>

                                    <input type="submit" asp-page="Work1" asp-page-handler="AfspraakBevestigen"
                               asp-route-kliniekName="@item.KliniekName" asp-route-specialistBSN="@item.SpecialistBSN"
                               asp-route-date="@item.Date" asp-route-time="@item.AfspraakTime"
                                    
                                    class="btn btn-link" value="Afspraak Maken" />
                                    
                                

                            </td>

                        </tr>
                    }
                   
                </tbody>
            </table>
        </div>
    }
}

</form>